/* Author Swapnil:-25/06/2019
Styleling Footer */
/* Footer Text */
p {
  position: fixed;
  height: 15px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 120%;
  color: #000;
  background-image: linear-gradient(to top,rgb(150, 5, 142),rgb(250, 157, 157));
  padding-bottom: 30px;
  padding-top: 40px;
  border-top: 2px solid 	#C71585;
  border-bottom: 2px solid #C71585;
}

@media screen and (max-width:480px)
{
  p{
    max-width:50%;
  }
}
p:active,p:hover
{
  text-decoration: underline;
}
.p
{
  size: 20%;
}
