<!-- Author Swapnil :-14/06/2019
Home page components -->
<h1 class="head" aria-setsize="">Choose Your Shipping Partner...</h1><br>
<div>
   <a [routerLink]="['/second']" routerLinkActive="router-link-active">
      <img  src="../assets/image/abc.png"  border="2">
      </a>
<a matTooltip="coming soon..."
  aria-label="Button that displays a tooltip when focused or hovered over">
  <img  src="../assets/image/parcelGuru.png"  border="2">
</a>
<a class="type1" matTooltip="coming soon..."
  aria-label="Button that displays a tooltip when focused or hovered over">
  <img  src="../assets/image/rateshop.png"  border="2">
</a>
</div>
